<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.w3.org/1999/html">
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Pokémon</title>
</head>
<body>
<h1>Entrez votre nom et prénom</h1>
<!--<form  action="/pokemon" method="post">
    <label for="name">Nom:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="surname">Prénom:</label>
    <input type="text" id="surname" name="surname" required>
    <br>
    <button type="submit">Soumettre</button>
</form>-->
<form th:action="@{/pokemons}" method="post" th:object="${user}">
    <h2>Pokematcher</h2>

    <div>
        <label for="firstname">Firstname:</label>
        <input id="firstname" type="text" th:field="*{firstName}">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid firstname</span>
    </div>

    <div>
        <label for="lastname">Lastname:</label>
        <input id="lastname" type="text" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid lastname</span>
    </div>

    <div>
        <button type="submit">Compute</button>
    </div>
</form>
<!--<div th:if="${#fields.hasErrors()}">-->
<!--    <p th:each="err : ${#fields.errors()}">Erreur : <span th:text="${err}"></span></p>-->
<!--</div>-->
<div th:if="${pokemon!=null}">
    <p>Your pokemon is <strong th:text="${pokemon.name()}"></strong> </p>

    <div th:if="${pokemonSprite!=null}">
        <p>   FROM API   </p>
        <img th:src="${pokemonSprite.front_default()}"  alt="Erreur from API...">
    </div>
    <div th:if="${pokemonSpriteCached!=null}">
        <p>   FROM CACHE       </p>
    </div>        <img th:src="'data:image/png;base64,' + ${pokemonSpriteCached}" alt="Downloading...">

</div>
<div th:if="${topFetish!=null}">
    <p> <b> Top Pokemon: </b></p>
    <tr th:each="pokemon: ${topFetish}">
        <p>
        <td th:text="${pokemon.name}" />
        </p>
    </tr>
</div>
</body>
</html>
